/*MENÚ DE NAVEGACIÓN*/
#header{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff; /*Fondo del menú*/

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo-box{
    margin-left: 20px;
}
.menu .logo-box img{
    /*TAMAÑO DEL LOGO*/
    text-decoration: none;
    width: 100px;
    height: 100px;
}

.menu .list-container{
    margin-right: 20px;
}
.menu .list-container .lists{
    display: flex;
}
.menu .list-container .lists li {
    list-style: none;
}
.menu .list-container .lists li a{
    text-decoration: none;
    margin: 0px 15px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}
.menu .list-container .lists li a.lists{
    background: var(--LightO);
    color: #fff;
}
.menu .list-container .lists li a:hover{
    background: var(--LightO);
    color: #fff;
}
.btn-menu > .fa-bars{
    display: none;
}
/*FIN MENÚ DE NAVEGACIÓN*/

/*IMG HEADER*/
.img-header{ 
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/img1_header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/*Sombra sobre la imagen*/
.img-header .welcome{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-header .welcome h1{
    font-size:50px ;
    color: #fff;
    font-weight: 200;
}

.img-header .welcome hr{
    width: 400px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}

.img-header .welcome p{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}

.img-header .welcome > button{
    width: 170px;
    height: 40px;
    background: var(--orange);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.img-header .welcome > button:hover{
    background: var(--LightO);
}

/*FIN IMG HEADER*/

/*JQUERY: VISTA DEL MENÚ EN OTRO DISPOSITIVO*/
@media only screen and (max-width:900px){
    .btn-menu > .fa-bars{
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 28px;
        cursor: pointer;
    }

    .btn-menu > .fa-bars:hover{color:var(--orange);}

    .menu .list-container{
        position: absolute;
        top: 60px;
        left: -100%; 
        width: 100%;
        height: calc(100vh - 60px);
        background: #fff;
    }

    .menu .list-container .lists{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 5px solid var(--LightO);
    }

    .menu .list-container .lists li{
        width: 90%;
        margin: 10px 0px;
        border-bottom: 1px solid var(--orange);
        text-align: center;
    }

    .menu .list-container .lists li a{
        font-size: 20px;
    }
    .menu .list-container .lists li a.lists{
        background: none;
        color: var(--orange);
    }
    .menu .list-container .lists li a:hover{
        background: none;
        color: var(--LightO);
    }
}

/*JQUERY: VISTA DE LA PÁGINA EN OTRO DISPOSITIVO*/
@media only screen and (max-width: 773px){
    /*IMG HEADER*/
    .img-header .welcome h1{
        font-size: 25px;
    }

    .img-header .welcome p{
        color: rgb(255, 187, 124);
        font-size: 15px;
        padding: 5px;
    }
}